/* HEADER */

header.fondo-cabecera {
    display: block;
    background-color: rgb(255, 255, 255);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQYV2NkQAPXrl37z4gsBhLQ0tJihAvCBECKwILIAmBBdAGQIADouhOHrLMwSAAAAABJRU5ErkJggg==)repeat;
}

header.fondo-cabecera div.social-cabecera ul.social-share li a:focus,
header.fondo-cabecera div.social-cabecera ul.social-share li a:active {
    background: #DC2F34;
}

.logo {
    background-image: url(../images/logo-campus-digital.svg);
    width: 250px;
    height: 60px;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}

a.link-logo {
    display: inline-block;
}

.social-cabecera {
    text-align: right;
    padding-top: 20px;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

body footer div.social ul.social-share li a {
    background: #878787;
}

body footer div.social ul.social-share li a:hover {
    background: #c52d2f;
    color: #fff;
}

body footer div.social ul.social-share li a:focus,
body footer div.social ul.social-share li a:active {
    background: #DC2F34;
}

ul.social-share li a {
    background: #4F4F4F;
}

/* MENU */

.navbar-default {
    background-color: #003671 !important;
    border-color: #00254e;
}

/* Portrait phones and smaller */

@media (max-width: 991px) {
    .logo {
        background-image: url("../images/logo-campus-digital.svg");
        width: 186px;
        padding-left: 30%;
    }
}

@media (max-width: 767px) {
	header .social-cabecera {
	    display: none;
	}
}